/* CSS RESET */

html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}
ul{list-style:none}
button,input,select,textarea{margin:0}
html{box-sizing:border-box}
*,*:before,*:after{box-sizing:inherit}
img,video{height:auto;max-width:100%}
iframe{border:0}
table{border-collapse:collapse;border-spacing:0}
td,th{padding:0;text-align:left}

/* CSS */

.text_agauche {
	text-align: left;
}

body {
	font-family: Helvetica, Verdana, Arial;
}

header, footer {
	min-height: 32px;
	background-color: #CCC;
}

header ul li a {
	display: inline-block;
	min-height: 32px;
	padding: 6px 10px;
	border-right: 1px solid #888;
	float: left;
	
	color: black;
	text-decoration: none;
}

header ul li a:hover {
	background-color: #FFF;
}

h1 {
	text-align: center;
	font-size: 2em;
}

main {
	text-align: center;
}

.f_login {
	border: 1px solid #888;
	background-color: #eee;
	margin: 20px auto;
	padding: 20px;
	display: inline-block;
}

.f_login div {
	margin: 10px 0;
}

.f_login label {
	min-width: 150px;
	display: inline-block;
}

.f_login #send {
	display: inline-block;
	padding: 4px 16px;
	background-color: #FFF;
	border: 1px solid #888;
	border-radius: 4px;
	
	cursor: pointer;
}

.f_login #send:hover {
	background-color: #EEE;
}

.f_login textarea {
	min-width: 400px;
	min-height: 80px;
}

table {
	margin: 20px auto;
}

table td, table th {
	border: 1px solid #888;
	padding: 6px;
}

table tr:nth-child(2n) {
	background-color: #eee;
}

table tr:first-child, table tr:last-child {
	background-color: #ccc;
}

article {
	background-color: #eee;
	border: 1px solid #888;
	margin: 20px auto;
	padding: 10px;
	text-align: justify;
	
	width: 50%;
	min-width: 400px;
}







